{% extends "base.html" %}

{% block title %}My Journal{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>🌸 My Journal</h2>

    <a href="{% url 'create_journal' %}" class="btn btn-dark">
        + New Journal
    </a>
</div>

{% if journals %}

    {% for journal in journals %}

    <div class="card shadow-sm mb-3">
        <div class="card-body">

            <h4>{{ journal.title }}</h4>

            <small class="text-muted">
                {{ journal.created_at|date:"F d, Y" }}
            </small>

            <hr>

            <p>
                {{ journal.content|truncatewords:25 }}
            </p>
            <a href="{% url 'journal_detail' journal.id %}"
   class="btn btn-outline-dark">
    Read More →
</a>

        </div>
    </div>

    {% endfor %}

{% else %}

<div class="text-center mt-5">

    <h3>No journal entries yet.</h3>

    <p>Click the button below to write your first journal.</p>

    <a href="{% url 'create_journal' %}" class="btn btn-dark">
        Write First Journal
    </a>

</div>

{% endif %}

{% endblock %}